body {
    background-color: black;
    color: white;
    font-family: "Host Grotesk", sans-serif 20px;
}

h1 {
    font-size: 40px;
    font-style: italic;
    border-bottom: 2px solid gray;
    width: 160px;
    margin: 10px auto;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.nav-bar{
    padding: 10px 20px; /* 10px top bottom 20px left and right */
    color: black;
    background-color: gray;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.nav-list {
    display: flex; /*how to start flexbox container*/
    justify-content: space-between; /* Space nav items evenly */
    list-style: none; /* takes away bullet points */
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
    background-color: lightgray;
    border-radius: 45px;
}
.Info {
    display: flex;
    justify-content: center;
}

img {
    width: 80px;
    height: 90px;
    margin: 10px auto;
    border-radius: 45px;
}

section {
    padding: 15px;
}

.About > p {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

section > h2 {
    text-align: center;
}

.experience > ul > li {
    list-style: square;
}

.Connect > ul , .Experience > ul , .Projects > ul{
    display: flex;
    justify-content: space-evenly;
}